.gallery {
  padding: 10px;
  column-gap: 10px;
  flex-wrap: wrap;
  columns: 3;
  column-gap: 10px;
}

.gallery-item {
  border: 1px solid black;
  margin-bottom: 10px;
  break-inside: avoid;
}

.gallery-img {
  max-width: 100%;
}

.gallery-img-descr {
  display: flex;
  padding: 2px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}
