@import url(header.css);
@import url(gallery_list.css);
@import url(loader.css);
@import url(pag.css);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}

h1 {
  font-size: 1em;
  margin-bottom: 5px;
}
img {
  display: block;
}
p {
  font-size: 0.9em;
}


.hidden{
  position: absolute;
  top: -9999px;
  left: -9999px;
  height: 1px;
  width: 1px;
}

.fast-hide{
  display: none;
}